body{
    background: #000;
    padding-top: 1%;
    touch-action: manipulation;
}
.container{
    align-items: center;
    margin: auto;
    width:30vw;
    border-radius: 5px 5px;
    margin-top:10px;
    background: linear-gradient( #181717,#000000);
    box-shadow: 2px 2px 2px 2px rgb(39, 37, 37);
    padding: 30px;
    cursor: pointer;
}
.row{
    padding:auto;
    height:100px;
    
}
.num{
    font-family: 'PT Serif', serif;
    height:65px;
    color:#fff;
    font-weight: bolder;
    font-size: 2rem;
    padding:1.6% 2%;
    -webkit-tap-highlight-color: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.1s ease;
}
.op{
    font-family: 'PT Serif', serif;
font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    background: #000;
}
.inn{
    background: rgb(10, 10, 10);
    border-radius: 4px;
}
input{
    background: rgb(10, 10, 10);
    border:none;
   }
input[name=input]{
        right:0;
        color:#fff;
        opacity:0.5;  
        text-align: right;
   }
.col-2{
    padding:auto ;
    margin:auto;
    border-radius: 50%;
    
}

.equal{
    background: linear-gradient( red,rgb(36, 2, 2));
}

input[name=output]{
    color:#fff;
    font-size: 2rem;
    right:0;
    text-align: right;
}

.num:hover{
    background: rgb(41, 41, 41);
}
.num:active{
    background: #000;
}
.op:active{
    background-color: rgb(17, 17, 17);
}

